<!-- list of all the doctor and their data -->

{% extends 'layout.html' %}
{% block content %}
<h1 style="margin-bottom: 20px;">Doctors List</h1>

<!-- Search Bar -->
<form method="GET" class="mb-3" style="display:flex; gap:12px; width: 300px;">
    <input type="text" name="q" 
           class="form-control" 
           placeholder="Search doctors..." 
           value="{{ q }}">
    <button class="btn btn-primary">Search</button>
</form>

<div class="flex-column mx-auto gap-16p" style = "align-items: center; display: flex">
<div style=" border: 1px solid #ccc; border-radius: 24px; width: 100%; overflow: clip;">
<table class="table" style="text-align: center; padding: 20px; border: 1px solid #ccc; margin-bottom: 0px;">
  <thead class="thead-darky">
    <tr>
        <th scope="col"></th>
        <th scope="col">Doctor</th>
        <th scope="col">Specialization</th>
        <th scope="col"> Book Appointment</th>
    </tr>
  </thead>
  <tbody>
      {% for d in doctors %}
      <tr class="table-row-link">
          <td><a href="{{ url_for('doctor_profile', doctor_id=d.id) }}"></a></td>
          <td><a href="{{ url_for('doctor_profile', doctor_id=d.id) }}">{{ d.name }}</a></td>
          <td><a href="{{ url_for('doctor_profile', doctor_id=d.id) }}">{{ d.specialization }}</a></td>
          <td>
              {% if not current_user.is_doctor and not current_user.is_admin %}
              <a href="{{ url_for('doctor_profile', doctor_id=d.id) }}">
                  <button type="button" class="btn-light btn">Book Now</button>
              </a>
              {% else %}
              N/A
              {% endif %}
      </tr>

      {% endfor %}
  </tbody>
</table>
</div>

<!-- Create a new doctor -->
{% if current_user.is_authenticated and current_user.is_admin %}
<a href="{{ url_for('addDoctor') }}"><button type="button" class="mybutton btn">Add Doctor</button></a>
{% endif %}
</div>
{% endblock %}